<div class="wave-comp">
</div>
<div class="professional-summary">
<table >
<h3 class="header">Professional Summary</h3>
    <ul>
        <li>
            Around 4.8 years of IT experience in design, development, implementation and testing of web applications using J2EE technologies.
        </li>
        <li>
            Expertise in implementing RESTful web services 
        </li>
        <li>
            Working knowledge in improving the code quality by implementing the best practices and recomminding various changes accross the projects.
        </li>
        <li>
            Strong debugging and troubleshooting skills.
        </li>
        <li>
            Ability to learn/migrate to different platforms, applications and languages quickly.
        </li>
        <li>
            Possess strong analytical and problem solving skills with the ability to adapt to a new environment and meet stringent deadlines.
        </li>
    </ul>
</table>
</div>