<div class="working-exp">
    <h3>Working Experience</h3>

    <div class="present">
        <h5>Current Tenure:</h5>
        <span>Oct 14 2019 - Aug 25 2020</span><br>
        <span>Business technology analysist, Deloitte, Bangalore</span><br>
        <span>Project Name: Helix Cigna</span><br>
        <span>Domain: HealthCare and Life Insurance</span><br>
        <span>Technologies : Spring Boot, Hibernate , RESTful webservices, Logback, Mapstruct</span>
        <ul>
            <li>Participate actively in the complete software development lifecycle, including performance analysis, design, development, and testing</li>
            <li>Involve in DB design and developing PL/SQL Procedures, Packages and triggers using Oracle 11g</li>
            <li>Closely co-ordinated with UI and Middleware teams productively and organized meetings for end-to-end sanity testing</li>
            <li>Implemented and Enchanced new features like using Swagger documentation and Logging using Logback to the application.</li>
            <li>Attended daily sprint meetings for task allocation and status updates as part of working in Agile environment.</li>
        </ul>
    </div>

    <div class="present">
        <h5>Past Tenure:</h5>
        <span>Jan 21 2019 - Oct 13 2019</span><br>
        <span>Business technology analysist, Deloitte, Bangalore</span><br>
        <span>Project Name: HPE addison</span><br>
        <span>Domain: Media and telecommunication</span><br>
        <span>Technologies : Spring,  RESTful Web services </span>
        <ul>
            <li>As an intermediary system, actively communicated to multiple target and source systems to gather endpoints, data to validate and other related informations.</li>
            <li>Experienced in Scrum and Agile Methodologies</li>
            <li>Ensure the best possible performance, quality, and responsiveness of the applications -Identify bottlenecks and bugs, and devise solutions to these problems.</li>
            <li>Work collaboratively in teams and develop meaningful relationships to achieve common goals</li>
            <li>Performed code peer reviews for fellow team members and train junior members of the team to drive efficiency and performance</li>
        </ul>
    </div>

    <div class="present">
        <h5>Past Tenure:</h5>
        <span>Dec 29 2015 - Jan 21 2019</span><br>
        <span>Java developer, Tech Mahindra, Chennai</span><br>
        <span>Project Name: Volvo Cars</span><br>
        <span>Domain: Automobile Sales and Ordering</span><br>
        <span>Technologies : Struts, Toplink, HTMl, JSP along with Struts custom tags</span>
        <ul>
            <li>Designed and Implemented MVC architecture using struts framework, coding involves writing action classes/custom tag libraries, JSP pages</li>
            <li>Involved in designing the front end pages for the presentation of data on the View layer using tiles framework</li>
            <li>Involved in activities like gathering requirements from the customer followed by analysis and design to meet the requirements.</li>
            <li>Implemented action froms and classes as per struts framework and maintained the struts-config files</li>
            <li>Responsible for writing extensive documentation Requirements Specification, Implementation Specification, Design Document, Delivery for the application.</li>
        </ul>
    </div>
</div>

<div class="wave-comp">

</div>
