<div class="wave-comp">
</div>
<div class="skills">
    <h3>Technology Skills</h3>
<table class="stylebor">
    <tr>
        <h4>Languages:</h4>
    </tr>
    <tr>
        <td>Core java</td>
        <td>
            <ngb-rating [rate]=4 [max]=5 [readonly]=true>
                <ng-template let-fill="fill">
                  <span class="star" [ngClass]="'color1'"[class.filled]="fill === 100">&#9733;</span>
                </ng-template>
              </ngb-rating>
        </td>
    </tr>
    <tr>
        <td>Java 8</td>
        <td>
            <ngb-rating [rate]=2 [max]=5 [readonly]=true>
                <ng-template let-fill="fill">
                  <span class="star" [ngClass]="'color1'"[class.filled]="fill === 100">&#9733;</span>
                </ng-template>
              </ngb-rating>
        </td>
    </tr>
    <tr>
        <td>RESRful Webservices</td>
        <td>
            <ngb-rating [rate]=3 [max]=5 [readonly]=true>
                <ng-template let-fill="fill">
                  <span class="star" [ngClass]="'color1'"[class.filled]="fill === 100">&#9733;</span>
                </ng-template>
              </ngb-rating>
        </td>
    </tr>
<tr>   
    <td></td>
    <td></td>
</tr>

<tr><h4>DataBase:</h4></tr>
<tr>
    <td>Oracle 11g</td>
    <td>
        <ngb-rating [rate]=3 [max]=5 [readonly]=true>
            <ng-template let-fill="fill">
              <span class="star" [ngClass]="'color1'"[class.filled]="fill === 100">&#9733;</span>
            </ng-template>
          </ngb-rating>
    </td>
</tr>

<tr><h4>Version Control:</h4></tr>
<tr>
    <td>GitHub</td>
    <td>
        <ngb-rating [rate]=3 [max]=5 [readonly]=true>
            <ng-template let-fill="fill">
              <span class="star" [ngClass]="'color1'"[class.filled]="fill === 100">&#9733;</span>
            </ng-template>
          </ngb-rating>
    </td>
</tr>
<tr>
  <td>SVN</td>
  <td>
      <ngb-rating [rate]=2 [max]=5 [readonly]=true>
          <ng-template let-fill="fill">
            <span class="star" [ngClass]="'color1'"[class.filled]="fill === 100">&#9733;</span>
          </ng-template>
        </ngb-rating>
  </td>
</tr>
  <tr>
    <td>BitBucket</td>
    <td>
        <ngb-rating [rate]=3 [max]=5 [readonly]=true>
            <ng-template let-fill="fill">
              <span class="star" [ngClass]="'color1'"[class.filled]="fill === 100">&#9733;</span>
            </ng-template>
          </ngb-rating>
    </td>
</tr>

</table>
<div></div>
<table class="stylebor1">
    <tr>
        <h4>ORM Tools:</h4>
    </tr>
    <tr>
        <td>Hibernate</td>
        <td>
            <ngb-rating [rate]=3 [max]=5 [readonly]=true>
                <ng-template let-fill="fill">
                  <span class="star" [ngClass]="'color1'"[class.filled]="fill === 100">&#9733;</span>
                </ng-template>
              </ngb-rating>
        </td>
    </tr>
    <tr>
        <td>Toplink</td>
        <td>
            <ngb-rating [rate]=2 [max]=5 [readonly]=true>
                <ng-template let-fill="fill">
                  <span class="star" [ngClass]="'color1'"[class.filled]="fill === 100">&#9733;</span>
                </ng-template>
              </ngb-rating>
        </td>
    </tr>
<tr>   
    <td></td>
    <td></td>
</tr>

<tr><h4>Scripting Language:</h4></tr>
<tr>
    <td>HTML 5, CSS</td>
    <td>
        <ngb-rating [rate]=4 [max]=5 [readonly]=true>
            <ng-template let-fill="fill">
              <span class="star" [ngClass]="'color1'"[class.filled]="fill === 100">&#9733;</span>
            </ng-template>
          </ngb-rating>
    </td>
</tr>
<tr>
    <td>Angular8</td>
    <td>
        <ngb-rating [rate]=3 [max]=5 [readonly]=true>
            <ng-template let-fill="fill">
              <span class="star" [ngClass]="'color1'"[class.filled]="fill === 100">&#9733;</span>
            </ng-template>
          </ngb-rating>
    </td>
</tr>

<tr><h4>Frameworks:</h4></tr>
<tr>
    <td>Spring, Spring Boot</td>
    <td>
        <ngb-rating [rate]=3 [max]=5 [readonly]=true>
            <ng-template let-fill="fill">
              <span class="star" [ngClass]="'color1'"[class.filled]="fill === 100">&#9733;</span>
            </ng-template>
          </ngb-rating>
    </td>
</tr>
<tr>
    <td>Struts</td>
    <td>
        <ngb-rating [rate]=3 [max]=5 [readonly]=true>
            <ng-template let-fill="fill">
              <span class="star" [ngClass]="'color1'"[class.filled]="fill === 100">&#9733;</span>
            </ng-template>
          </ngb-rating>
    </td>
</tr>
</table>
</div>
