.whole-div{
    background: url(src\assets\images\background_black.jpg);
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center;     
   height: 100vh;
   margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}



