<div class="wave-comp">
</div>
<div class="skills">
    <h3>Other Skills</h3>
<table class="stylebor">
    <tr>
        <h4>Methodology:</h4>
    </tr>
    <tr>
        <td>Agile</td>
    </tr>
    <tr>
        <td>Waterfall</td>
    </tr>
<tr>   
    <td></td>
    <td></td>
</tr>

<tr><h4>Development Tools</h4></tr>
<tr>
    <td>Spring Tool Suit</td>
</tr>
<tr>
    <td>Eclipse</td>
</tr>
<tr>
    <td>Visula Studio Code</td>
</tr>
<tr>
    <td>Net Beans</td>
</tr>

<tr><h4>Testing</h4></tr>
<tr>
    <td>Junit 4</td>
</tr>
<tr>
    <td>Mokito</td>
</tr>
</table>

<table class="stylebor1">
    <tr>
        <h4>Integration Tools:</h4>
    </tr>
    <tr>
        <td>Bamboo</td>
    </tr>
    <tr>
        <td>Jenkins</td>
    </tr>
<tr>   
    <td></td>
    <td></td>
</tr>

<tr><h4>Management Tools:</h4></tr>
<tr>
    <td>Jira</td>
</tr>
<tr>
    <td>VSTS</td>
</tr>
<tr>
    <td>ALM</td>
</tr>

</table>
</div>

<div class="wave-comp">

</div>